<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div id="set-schedule">
    <form hx-post="/admin" hx-target="#set-schedule" hx-swap="outerHTML">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required />
        <label for="endDate">End Date:</label>
        <input type="date" name="endDate" id="endDate" required />
        <br><br>
        <button type="submit">Set Schedule</button>
    </form>
    <br>
</div>
</body>
</html>