<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<div id="set-schedule">
    <form hx-post="/admin" hx-target="#set-schedule" hx-swap="outerHTML">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required />
        <label for="endDate">End Date:</label>
        <input type="date" name="endDate" id="endDate" required />
        <br><br>
        <button type="submit">Set Schedule</button>
    </form>
    <br>
    <div th:if="${successMessage}" th:text="${successMessage}" class="success-message"></div>

    <div th:if="${successMessage}" id="edit-schedule-container">
        <button hx-target="#edit-workingHours" hx-get="/admin/schedule" hx-swap="afterend">Edit Time for Created Schedule</button>
    </div>
    <div id="edit-workingHours"></div>
</div>
</body>
</html>