<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<header th:replace="base :: header"></header>

<div>
  <div th:fragment="bookingSlots">
    <div class="available-slots">
      <h1 th:text="#{book.title}">Welcome to Book Page</h1>
      <h5 th:text="#{book.subtitle}">Slots</h5>
      <ul>
        <li th:text="#{book.slot1}">Slot 1</li>
        <li th:text="#{book.slot2}">Slot 2</li>
        <li th:text="#{book.slot3}">Slot 3</li>
      </ul>

      <!-- New Buttons -->
      <div class="booking-buttons">
        <button onclick="window.history.back()" th:text="#{book.button.back}">Back</button>
        <a href="/my-appointment">
          <button th:text="#{book.button.myBookings}">My Bookings</button>
        </a>
      </div>
    </div>
  </div>
</div>

<footer th:replace="base :: footer"></footer>
</body>
</html>
