<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{base :: header}"></header>

<div class="main-content" th:fragment="mainContent">
    <div id="available-slots">
        <h3>Welcome to Home Page</h3>
        <div class="main-book-button">
            <h3>
                <!-- HTMX button swaps the availability widget with the slots list without a full reload -->
                <button hx-get="/slots" hx-target="#available-slots" hx-swap="outerHTML">Termin Buchen</button>
            </h3>
        </div>
        <div class="profile">
        <p>Willkommen zu einem einzigartigen Haarerlebnis in Tempelhof, bei dem jeder Besuch ein Schritt zu Ihrem perfekten Stil ist. Bekannt als der „Michelin-Stern“ des Hairstylings in Berlin, verwandelt Yulia Haare mit der Präzision einer Künstlerin und der Herzlichkeit einer vertrauensvollen Freundin.</p>
        </div>
        <div class="services">
            <div class="service-card">
                <h3>✨ Signatur-Styling</h3>
                <p>Von subtiler Eleganz bis zu mutigen Statements – jeder Schnitt wird individuell gestaltet, um die natürliche Schönheit zu betonen und den persönlichen Stil zu unterstreichen.</p>
            </div>
            <div class="service-card">
                <h3>🎨 Farb-Expertise</h3>
                <p>Professionelle Farbbehandlungen mit hochwertigen Produkten – sei es für natürlich wirkende Highlights oder kreative Farbtransformationen.</p>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{base :: footer}"></footer>
</body>
</html>
