<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
<main>
<h3>Schedule</h3>
    <ul class="schedule-list">
        <th:block th:each="date : ${dateRange}">
            <li class="date-item">
                <span th:text="${#temporals.format(date, 'EEEE, MMMM d, yyyy')}"></span>
                <ul class="timeslot-list">
                    <th:block th:each="timeSlot : ${timeslots}">
                        <li th:if="${timeSlot.toLocalDate().equals(date.toLocalDate())}"
                            class="time-item">
                            <span th:text="${#temporals.format(timeSlot, 'HH:00')}"></span>
                        </li>
                    </th:block>
                </ul>
            </li>
        </th:block>
    </ul>
</main>
</body>
</html>