<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
<main>
<h3>Schedule</h3>
    <ul>
        <th:block th:each="date : ${dateRange}">
            <li>
                <span th:text="${date.toLocalDate()}"></span>
                <ul>
                    <th:block th:each="timeSlot : ${timeslots}">
                        <th:block th:if="${timeSlot.toLocalDate() == date.toLocalDate()}">
                            <li th:text="${timeSlot}"></li>
                        </th:block>
                    </th:block>
                </ul>
            </li>
        </th:block>
    </ul>
</main>
</body>
</html>