SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/prod
SPRING_DATASOURCE_USERNAME=app_prod
SPRING_DATASOURCE_PASSWORD=ChangeMeProd123!
SERVER_PORT=8080
POSTGRES_USER=app_prod
POSTGRES_PASSWORD=ChangeMeProd123!
POSTGRES_DB=prod
SESSION_SECURE_COOKIE=true
REMEMBER_ME_KEY=ChangeMeRememberMeProdKey
REMEMBER_ME_SECURE_COOKIE=true
REMEMBER_ME_TOKEN_VALIDITY_SECONDS=2592000
